<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Class Style Binding</title>
	<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous"> -->
	<script src="https://unpkg.com/vue@next"></script>
	<link rel="stylesheet" href="style.css" />
</head>

<body>
	<div id="app">
		<!-- {{ showBorder }} -->
		<button @click="showBorder = !showBorder">Border Ekle / Ekleme</button>
		<button @click="redBG = !redBG">redBG Ekle / Ekleme</button>
		<!-- <div class="box" :class="{ border : showBorder, red : redBG }"></div> -->
		<!-- <div class="box" :class="boxClasses"></div> -->
		<!-- 🔺 Örnek 1 de kullanıldı. computed : { } ile yapmak. Koşula bağlı class bind  ederek yapmak.  -->
		<br><br>
		<input type="text" v-model="bgColor">{{bgColor}}
		<br><br>
		<input type="text" v-model="styleBorder">{{styleBorder}}
		<br><br>
		<input type="text" v-model="styleTextcolor">{{styleTextcolor}}
		<br><br>
		<div class="box" :style="{ backgroundColor:bgColor, border:styleBorder, color:styleTextcolor}"><b>Merhaba</b>
		</div>
	</div> <!-- .container -->
	<script src="app.js"></script>
</body>

</html>